body { background: #7264ed; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 55px; display: flex; }
.block-shipping-0 { color: #518c8f; font-size: 13px; margin-bottom: 5px; }
.block-token-1 { color: #b649c; font-size: 16px; margin-bottom: 5px; }
.block-filter-2 { color: #882171; font-size: 15px; margin-bottom: 5px; }
.block-filter-3 { color: #2dfbbf; font-size: 15px; margin-bottom: 5px; }
.block-cluster-4 { color: #72ba94; font-size: 14px; margin-bottom: 5px; }